/*assets/scss/base/_Button.scss*/

.button:not(.button--text) {

	display: inline-block;
	vertical-align: middle;

	background-color: $brand-primary;
	border-width: 1px;
	border-style: solid;
	border-color: $brand-primary;
	color: $color-white;

	line-height: 1;
	text-align: center;
	padding: 1em;

	@include trans( (background-color, border-color, color) );

	&:hover {
		background-color: darken( $brand-primary, 10% );
		border-color: darken( $brand-primary, 10% );
	}
	&:focus {
		background-color: darken( $brand-primary, 10% );
		box-shadow: 0 0 0.25em fade-out( $brand-primary, 0.1 );
	}
	&:active {
		background-color: darken( $brand-primary, 15% );
		border-color: darken( $brand-primary, 15% );
		transition-duration: 0;
	}

	&:disabled,
	&[disabled] {
		cursor: not-allowed;
		background-color: $gray-lighter;
		border-color: $gray-light;
		color: $gray;

		&:hover,
		&:focus,
		&:active {
			background-color: $gray-lighter;
			border-color: $gray-light;
			color: $gray;
			box-shadow: none;
		}
	}
}

// Sizes
.button--lg {
	font-size: $font-size-h4;
}
.button--sm {
	font-size: $font-size-h6;
}

// Variants
.button--text {
	background-color: transparent;
	border: none;
	padding: 0;
	line-height: $base-line-height;
	vertical-align: middle;

	@extend a;
}
.button--secondary:not(.button--text) {
	$button-color: $brand-secondary;

	background-color: $button-color;
	border-color: $button-color;
	color: $color-white;

	&:hover {
		background-color: darken( $button-color, 10% );
		border-color: darken( $button-color, 10% );
	}
	&:focus {
		background-color: darken( $button-color, 10% );
		box-shadow: 0 0 0.25em fade-out( $button-color, 0.1 );
	}
	&:active {
		background-color: darken( $button-color, 15% );
		border-color: darken( $button-color, 15% );
	}
}
.button--tertiary:not(.button--text) {
	$button-color: $brand-tertiary;

	background-color: $button-color;
	border-color: $button-color;
	color: $color-white;

	&:hover {
		background-color: darken( $button-color, 10% );
		border-color: darken( $button-color, 10% );
	}
	&:focus {
		background-color: darken( $button-color, 10% );
		box-shadow: 0 0 0.25em fade-out( $button-color, 0.1 );
	}
	&:active {
		background-color: darken( $button-color, 15% );
		border-color: darken( $button-color, 15% );
	}
}