/*assets/scss/base/_Form.scss*/

@mixin _common_field_properties(){
	background-color: $color-white;
	border-style: solid;
	border-width: 1px;
	border-color: $gray;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: 0.4em 0.5em;

	@include trans( (background-color, border-color) );

	&:hover {
		border-color: $gray-darker;
	}
	&:focus {
		border-color: $brand-primary;
	}
	&:disabled,
	&[disabled] {
		cursor: not-allowed;
		background-color: $gray-lighter;
		border-color: $gray-light;
		color: $gray;

		&:hover,
		&:focus,
		&:active {
			background-color: $gray-lighter;
			border-color: $gray-light;
			color: $gray;
			box-shadow: none;
		}
	}
}

form {
	ul {
		padding-left: 0;
		list-style: none;
	}
}

// All inputs that are not part of this list.
// Should be mostly text-like inputs.
// text, url, password, email, tel, search, number, date, month, week, datetime
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {

	@include _common_field_properties();

}
textarea {

	@include _common_field_properties();

}
select {

	@include _common_field_properties();

	&:not([multiple]) {
		$arrow-color: str-replace( inspect($base-font-color), '#', '' );

		appearance: none;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%3Cpath%20fill%3D%22%23#{$arrow-color}%22%20d%3D%22M10%201l-5%207h10l-5-7zM10%2019l5-7h-10l5%207z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
		background-repeat: no-repeat;
		background-position: right 0.5em center;
		background-size: 1em 1em;
		padding-right: 2em;

		&:hover {
			$arrow-color: str-replace( inspect($gray-darker), '#', '' );

			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%3Cpath%20fill%3D%22%23#{$arrow-color}%22%20d%3D%22M10%201l-5%207h10l-5-7zM10%2019l5-7h-10l5%207z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
		}
		&:focus {
			$arrow-color: str-replace( inspect($brand-primary), '#', '' );

			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%3Cpath%20fill%3D%22%23#{$arrow-color}%22%20d%3D%22M10%201l-5%207h10l-5-7zM10%2019l5-7h-10l5%207z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
		}
	}

}
fieldset {

}
legend {

}
label {
	color: $gray-dark;
	@include trans(color);

	&[for] {
		&:hover {
			color: $gray-darker;
		}
	}
}
input[type="checkbox"] {
	@include visuallyhidden();
	+ label {
		&:before {
			content: '';
			display: inline-block;
			margin-right: 0.25em;
			vertical-align: middle;

			background-color: $color-white;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 0.8em;
			border-style: solid;
			border-width: 1px;
			border-color: $gray;

			height: 1.25em;
			width: 1.25em;

			@include trans( (background-color, border-color) );
		}
	}
	&:hover {
		+ label:before {
			border-color: $gray-darker;
		}
	}
	&:focus {
		+ label:before {
			border-color: $brand-primary;
		}
	}
	&:checked {
		+ label {
			color: $gray-darker;
		}
		+ label:before {
			$check-color: str-replace( inspect($brand-primary), '#', '' );

			border-color: $brand-primary;
			background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23#{$check-color}%22%20d%3D%22M29.839%2010.107q0%200.714-0.5%201.214l-15.357%2015.357q-0.5%200.5-1.214%200.5t-1.214-0.5l-8.893-8.893q-0.5-0.5-0.5-1.214t0.5-1.214l2.429-2.429q0.5-0.5%201.214-0.5t1.214%200.5l5.25%205.268%2011.714-11.732q0.5-0.5%201.214-0.5t1.214%200.5l2.429%202.429q0.5%200.5%200.5%201.214z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
		}
	}
	&:disabled,
	&[disabled] {
		+ label {
			cursor: not-allowed;
			color: $gray;

			&:before {
				background-color: $gray-lighter;
				border-color: $gray-light;
			}
		}
		&:hover,
		&:focus {
			+ label {
				cursor: not-allowed;
				color: $gray;

				&:before {
					background-color: $gray-lighter;
					border-color: $gray-light;
				}
			}
		}
		&:checked {
			+ label:before {
				$check-color: str-replace( inspect($gray), '#', '' );

				background-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%23#{$check-color}%22%20d%3D%22M29.839%2010.107q0%200.714-0.5%201.214l-15.357%2015.357q-0.5%200.5-1.214%200.5t-1.214-0.5l-8.893-8.893q-0.5-0.5-0.5-1.214t0.5-1.214l2.429-2.429q0.5-0.5%201.214-0.5t1.214%200.5l5.25%205.268%2011.714-11.732q0.5-0.5%201.214-0.5t1.214%200.5l2.429%202.429q0.5%200.5%200.5%201.214z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
			}
		}
	}
}
input[type="radio"] {
	@include visuallyhidden();
	+ label {
		&:before {
			content: '';
			display: inline-block;
			margin-right: 0.25em;
			vertical-align: middle;

			background-color: $color-white;
			border-style: solid;
			border-width: 1px;
			border-color: $gray;
			border-radius: 50%;
			height: 0.8em;
			width: 0.8em;

			@include trans( (background-color, border-color) );
		}
	}
	&:hover {
		+ label:before {
			border-color: $gray-darker;
		}
	}
	&:focus {
		+ label:before {
			border-color: $brand-primary;
		}
	}
	&:checked {
		+ label {
			color: $gray-darker;
		}
		+ label:before {
			background-color: $brand-primary;
			border-color: $brand-primary;
		}
	}
	&:disabled,
	&[disabled] {
		+ label {
			cursor: not-allowed;
			color: $gray;

			&:before {
				$check-color: str-replace( inspect($gray), '#', '' );

				background-color: $gray-lighter;
				border-color: $gray-light;
			}
		}
		&:hover,
		&:focus {
			+ label {
				cursor: not-allowed;
				color: $gray;

				&:before {
					$check-color: str-replace( inspect($gray), '#', '' );

					background-color: $gray-lighter;
					border-color: $gray-light;
				}
			}
		}
	}
}
input[type="file"] {
	&:hover {

	}
	&:focus {

	}
	&:disabled {

		&:hover {

		}
		&:focus {

		}

	}
}
input[type="submit"],
input[type="button"] {
	@extend button;
}

// Form class.
// Use this to add variants to your forms.
.form {

}
