/*assets/scss/base/_Icon.scss*/

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.glyphgrid {
	@include grid-row( 0.5em, true );
}
.glyph {
	@include grid-cell( 1, 0.5em );

	.mls {
		@include screen-reader-text();
	}
}