/*assets/scss/base/_Link.scss*/

// Links
a {
	color: $brand-link;
	display: inline-block;
	background-color: transparentize( $brand-link, 0.95 );
	text-decoration: none;

	@include trans( (background-color, color) );

	&:hover,
	&:focus {
		color: lighten( $brand-link, 10% );
		background-color: transparentize( $brand-link, 0.9 );
		text-decoration: none;
	}
}

// For adding link variants
.link {

}