/*assets/scss/base/_List.scss*/

// List Item
li {

}
// Unordered List
ul {
	margin-top: 0;
	margin-bottom: 1em;
}
// Ordered List
ol {
	margin-top: 0;
	margin-bottom: 1em;
}
// Definition List
dl {
	margin-top: 0;
	margin-bottom: 1em;
}
dt {
	font-weight: $font-weight-bold;
}
dd {
	margin-left: 1em;
}

// Use this to add variants to your lists.
.list {

}

.list--inline {
	padding-left: 0;
	list-style: none;

	> li {
		display: inline-block;
	}
}