/*assets/scss/base/_Table.scss*/

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}
tr {

}
td {
	text-align: left;
	padding: 0.5em;
	border: 1px solid $gray;
}
th {
	text-align: left;
	padding: 0.5em;
	font-weight: $font-weight-bold;
	border: 1px solid $gray;
}
thead {

}
tbody {

}
tfoot {

}

.table {

}