/*assets/scss/base/_Typography.scss*/

// Text on selection
::selection {

}

html {
	font-size: 100%;
}

body {
	color:       $base-font-color;
	font-family: $base-font-family;
	font-size:   $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $gray-darker;
	font-weight: inherit;
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: $base-font-size;
}

h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
h6 {
	font-size: $font-size-h6;
}


// Paragraph
p {

}

// Italic / Emphasis
i,
em {
	font-style: italic;
}

// Bold / Strong
b,
strong {
	font-weight: bold;
}

// Underline
u {
	text-decoration: underline;
}

// Subscript
sub {

}

// Superscript
sup {

}

// Blockquote
blockquote {
	font-size: $font-size-h4;

	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 1rem;

	cite {
		margin-top: 1em;
	}
}

// Citation
cite {
	display: block;
	font-size: $font-size-h6;
	font-style: italic;

	&:before {
		content: '\2013\00A0';
	}
}

// Small
small {

}

// Deleted text
del {

}

// Inserted text
ins {

}

// Strikethrough
s {

}

// Abbreviation
abbr {
	&[title="Required"] {
		color: $color-danger;
		cursor: help;
	}
}

// Quote
q {

}

// Keyboard
kbd {
	font-family: $base-font-family-mono;
}

// Definition
dfn {

}

// Mark
mark {

}

// Code
code {
	font-family: $base-font-family-mono;
}

// Sample Output
samp {
	font-family: $base-font-family-mono;
}

// Variable
var {

}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: $base-font-family-mono;
}

time {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {

}