/* =Mixins
-------------------------------------------------------------- */

/**
 * Breakpoints mixin. Makes media queries easier.
 * Choose a point from the defined variable $breakpoints in _variables.scss or set your own.
 *
 * @param  {string} $point         [The point to set the breakpoint at. Can be a key defined in the $breakpoints variable, or a width (900px). Required.]
 * @param  {string} $type:  min    [Set to min or max breakpoint. Default to min.]
 * @param  {string} $media: screen [Set the media type. Default to screen.]
 */
@mixin bp( $point, $type: min, $media: screen ){

	// Look in the keys first
	@if map-has-key( $breakpoints, $point ){
		@if $type == max {
			@media only #{$media} and ( max-width: #{inspect( map-get( $breakpoints, $point ) )} ){ @content; }
		} @else if $type == min {
			@media only #{$media} and ( min-width: #{inspect( map-get( $breakpoints, $point ) )} ){ @content; }
		}
	}
		// Fallback to a 'manual' breakpoint.
		// Check to make sure that it is a number and has a unit (px, em).
	@else if type-of( $point ) == number and not unitless( $point ) {
		@if $type == max {
			@media only #{$media} and ( max-width: #{$point} ){ @content; }
		} @else if $type == min {
			@media only #{$media} and ( min-width: #{$point} ){ @content; }
		}
	}
		// The point wasn't in the $breakpoints variable and isn't a valid unit.
	@else {
		@error "`#{$point}` is not a valid breakpoint.";
	}

}

/**
 * Apply transition properties to a selector.
 * More flexible than the one that comes with Bourbon.
 * Also allows for default variables.
 *
 * @param  {string} $properties: all            [List of properties to animate. Default 'all'.]
 * @param  {string} $duration:   $base-duration [Duration of the transition. Defaults to global var.]
 * @param  {string} $timing:     $base-timing   [Easing of the transition. Defaults to global var.]
 * @param  {string} $delay:      0              [Delay of the transition. Defaults to 0.]
 */
@mixin trans( $properties: all, $duration: $base-duration, $timing: $base-timing, $delay: 0 ){
	transition-property: $properties;
	transition-duration: $duration;
	transition-timing-function: $timing;
	transition-delay: $delay;
}

/*
 * Hide visually and from screen readers
 */
@mixin hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@mixin visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;

	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
@mixin invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
@mixin clearfix {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

/**
 * Screen-reader-text
 *
 * Alias function for visuallyhidden.
 */
@mixin screen-reader-text(){
	@include visuallyhidden();
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
	@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

/**
 * Grid Mixins
 */
@mixin grid-row( $gutter: $grid-gutter, $wrap: false ) {
	display: flex;
	margin-left: -$gutter;
	margin-right: -$gutter;

	@if ( $wrap ) {
		flex-wrap: wrap;
	}
}

@mixin grid-cell( $columns, $gutter: $grid-gutter ) {
	padding: $gutter;
	width: percentage($columns / $grid-columns);
}
