/* =Variables
-------------------------------------------------------------- */

// Colors
$color-white: #fff;
$color-black: #000;

$color-success: #2ecc71;
$color-info:    #3498db;
$color-warning: #f1c40f;
$color-danger:  #e74c3c;

$gray-0:		$color-black;
$gray-10:		lighten($color-black, 10%);
$gray-20:		lighten($color-black, 20%);
$gray-30:		lighten($color-black, 30%);
$gray-40: 		lighten($color-black, 40%);
$gray-50:		lighten($color-black, 50%);
$gray-60:		lighten($color-black, 60%);
$gray-70:		lighten($color-black, 70%);
$gray-80:		lighten($color-black, 80%);
$gray-90:		lighten($color-black, 90%);
$gray-100: 		$color-white;
$gray-darkest: 	$gray-10;
$gray-darker: 	$gray-20;
$gray-dark: 	$gray-40;
$gray: 			$gray-60;
$gray-light: 	$gray-80;
$gray-lighter: 	$gray-90;
$gray-lightest: lighten($color-black, 96%);

// Brand Colors
$brand-primary:   #3F51B5;
$brand-secondary: #2196F3;
$brand-tertiary:  #00BCD4;
$brand-link:      $brand-primary;

// Typography
$base-font-family-sans-serif: sans-serif;
$base-font-family-script:     cursive;
$base-font-family-serif:      serif;
$base-font-family-mono:       monospace;

$font-weight-normal:      400;
$font-weight-thin:        300;
$font-weight-bold:        700;
$font-weight-xbold:       800;

$base-font-size:          1rem;
$base-font-family:        $base-font-family-sans-serif;
$base-line-height:        1.45;
$base-font-color:         $gray-dark;
$base-heading-color:      $gray-darker;
$base-font-weight:        $font-weight-normal;
$base-spacing:            $base-line-height * 1em;

$small-spacing:           $base-spacing / 2;

// Headings
$font-size-h1: 3.157rem;
$font-size-h2: 2.369rem;
$font-size-h3: 1.777rem;
$font-size-h4: 1.333rem;
$font-size-h5: 1rem;
$font-size-h6: 0.8rem;

// Transitions
$base-duration: 250ms;
$base-timing:   cubic-bezier(.40,.15,.60,.85);

// Breakpoints
$breakpoints: (
	'xs': em(480),
	'sm': em(640),
	'md': em(800),
	'lg': em(960),
	'xl': em(1020),
	'xxl': em(1180),
);

// Grid
$grid-gutter:  1rem;
$grid-columns: 12;
